 @media screen and (min-width: 768px) {
    .res-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        #navmenu {
            display: flex;
        }

        #hambutton {
            display: none;
        }
        .about {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}
 @media screen and (min-width: 1024px) {

     .res-grid {
         grid-template-columns: repeat(3, 1fr);
     }

     main {
         max-width: 1200px;
         margin: 0 auto;
     }
 }