body{
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    color: black;
}
.course-title {
    font-family: "Iosevka Charon Mono", monospace;
    text-align: center; 
    display: grid;
    margin: 20px;
    font-size: 2.5rem;
    
    
}
h1{
    text-align: center;
    font-size: 2.5rem;

    

}
nav{
    background-color: grey;
}
nav a{
    display: block;
    color: #eee;
    text-decoration: none;
    padding: 15px;
    

}
nav ul{
    display: flex;
    justify-content: space-around;
    font-family: "Iosevka Charon Mono", monospace;
    color:#eee;
    margin: 0;
    list-style: none;
    padding: 0;
}


header{
    font-family: "Iosevka Charon Mono", monospace;
    background-color: #1f4f63;
    color:#eee;
    text-align: center;
    padding: 20px 0;

}

main {
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
.card img{
    width: 200px;
    height: auto;
}
footer{
    font-family: "Iosevka Charon Mono", monospace;
    background-color: #1f4f63;  
    text-align: center;  
    margin: 0 auto;
    color: #eee;

}
a:hover{
    text-decoration: underline;

}

#lastModified{
    color: yellow;
}