* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1 {
    font-size: 2.5rem;
}

.navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #272626;
    border-radius: 0.5rem;
    background-color: #aba4b3;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid #272626;
    padding: 1rem;
}



label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 1rem;
    font-size: 1.1rem;
}

.form-item {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin-bottom: 1rem;
}

.form-item label {
    text-align: right;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

fieldset label {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.95rem;
    font-weight: 600;

}


button {
    margin: 1rem;
    background-color: #250125;
    color: #eee;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #035a36;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 20px;
}

nav {
    background-color: #399cca;

    margin-left: auto;

}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

nav a:hover {
    text-decoration: underline;
    background-color: #eee;
    color: #000;
}

.active {
    color: yellow;
}

footer {
    font-family: "Iosevka Charon Mono", monospace;
    background-color: #399cca;
    text-align: center;
    color: #0a0a0a;

}

a {
    margin-left: 50px;
    padding: 20px;
}

#lastModified {
    color: #f2fd51;
}